

<div class="form-bg">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8">

                <div *ngIf="thePage == 'firstForm'">
                    <form [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal">
                        <div class="text-center">
                            <a href="">
                                <img src="{{ webSet?.logo_url }}" width="150" alt="{{ webSet?.site_name }}">
                            </a>
                            <div class="heading">Forgot Password</div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">

                            <div *ngIf="f('email').touched && f('email').invalid" class="errDisp">*This field is required!
                            </div>
                            <div *ngIf="userErr" class="errDisp">*{{userErr}}</div>
                        </div>

                        <div class="form-group mb-4 mt-4 text-right">
                            <a routerLink="/login">Login</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-eight btn-block">
                                <div class="btn-title">
                                    <span *ngIf="!submittingOne" class="btn-txt">Submit Email</span>
                                    <span *ngIf="submittingOne" class="btn-txt"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                                    <span class="btn-icon">
                                        <span class="icon flaticon-arrows-11"></span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="form-group">
                            <ul class="social">
                                <li class="text-center">Not a member? <a routerLink="/register">Register</a></li>
                            </ul>
                        </div>
                    </form>
                </div>




                <div *ngIf="thePage == 'secondForm'">
                    <form [formGroup]="formTwo" (ngSubmit)="submitTwo()" class="form-horizontal">
                        <div class="text-center">
                            <a href="">
                                <img src="{{ webSet?.logo_url }}" width="150" alt="{{ webSet?.site_name }}">
                            </a>
                            <div class="heading">Verify Email</div>
                        </div>
                        <div class="form-group">
                            <label for="code">Enter Code</label>
                            <input type="text" class="form-control" id="code" formControlName="code">

                            <div *ngIf="ft('code').touched && ft('code').invalid" class="errDisp">*This field is required!
                            </div>
                            <div *ngIf="userErr" class="errDisp">*{{userErr}}</div>
                        </div>

                        <div class="form-group mb-4 mt-4 text-right">
                            <a routerLink="/login">Login</a>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-eight btn-block">
                                <div class="btn-title">
                                    <span *ngIf="!submittingTwo" class="btn-txt">Verify Code</span>
                                    <span *ngIf="submittingTwo" class="btn-txt"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                                    <span class="btn-icon">
                                        <span class="icon flaticon-arrows-11"></span>
                                    </span>
                                </div>
                            </button>
                        </div>

                        <div class="form-group">
                            <ul class="social">
                                <li class="text-center">Not a member? <a routerLink="/register">Register</a></li>
                            </ul>
                        </div>
                    </form>
                </div>



                <div *ngIf="thePage == 'thirdForm'">
                    <form [formGroup]="formThree" (ngSubmit)="submitThree()" class="form-horizontal">
                        <div class="text-center">
                            <a href="">
                                <img src="{{ webSet?.logo_url }}" width="150" alt="{{ webSet?.site_name }}">
                            </a>
                            <div class="heading">Set New Password</div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password">

                            <div *ngIf="ftr('password').touched && ftr('password').invalid" class="errDisp">*This field is required!
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="retype_password">Retype Password</label>
                            <input type="password" class="form-control" id="retype_password" formControlName="retype_password">

                            <div *ngIf="ftr('retype_password').touched && ftr('retype_password').invalid" class="errDisp">*This field is required!
                            </div>
                            <div *ngIf="userErr" class="errDisp">*{{userErr}}</div>
                        </div>

                        <div class="form-group mb-4 mt-4 text-right">
                            <a routerLink="/login">Login</a>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-eight btn-block">
                                <div class="btn-title">
                                    <span *ngIf="!submittingThree" class="btn-txt">Reset Password</span>
                                    <span *ngIf="submittingThree" class="btn-txt"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
                                    <span class="btn-icon">
                                        <span class="icon flaticon-arrows-11"></span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="form-group">
                            <ul class="social">
                                <li class="text-center">Not a member? <a routerLink="/register">Register</a></li>
                            </ul>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



<div *ngIf="showNotice">
    <div class="adminNoteWrap">
      <div *ngIf="justMssg">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>

        <p class="pt-3"> {{theMessage}} </p>
        <div class="d-flex justify-content-center"><button class="btn btn-sm btn-primary" (click)="closeMyNotice()">Close</button></div>
      </div>

      <div *ngIf="deleteModal">
        <div class="d-flex justify-content-center"><i class="fa fa-times delIcon"></i></div>
        <p class="text-center">{{theMessage}}</p>
        <div class="text-center mt-4 mb-2">
            <button class="btn btn-primary btn-sm" (click)="closeMyNotice()">Close</button>
        </div>
      </div>
    </div>
  </div>








