<app-user-layout>
    <div id="settingsPar">
        <app-nav-bar></app-nav-bar>
        <div class="formCont">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Change Password</h5>
                        <p>Secure your account with your choice password.</p>
                        <div class="btnCont desktop">
                            <button
                                *ngIf="!submitting"
                                [disabled]="!validForm"
                                class="primBtn"
                            >
                                SAVE CHANGES
                            </button>
                            <app-loading-btn
                                *ngIf="submitting"
                                clss="primBtn"
                            ></app-loading-btn>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="formGroup">
                            <label for="">Current Password</label>
                            <input
                                type="password"
                                [class.error]="
                                    f('old_password')?.touched &&
                                    f('old_password')?.invalid
                                "
                                formControlName="old_password"
                                class="form-control"
                            />
                            <div
                                *ngIf="
                                    f('old_password')?.touched &&
                                    f('old_password')?.invalid
                                "
                                class="errDisp"
                            >
                                *This field is required!
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="">New Password</label>
                            <input
                                type="password"
                                [class.error]="
                                    f('password')?.touched &&
                                    f('password')?.invalid
                                "
                                formControlName="password"
                                class="form-control"
                            />
                            <div
                                *ngIf="
                                    f('password')?.touched &&
                                    f('password')?.invalid
                                "
                                class="errDisp"
                            >
                                *This field is required!
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="">Confirm Password</label>
                            <input
                                type="password"
                                [class.error]="
                                    (f('confirm_password')?.touched &&
                                        f('confirm_password')?.invalid) ||
                                    f('password').value !=
                                        f('confirm_password')?.value
                                "
                                formControlName="confirm_password"
                                class="form-control"
                            />
                            <div
                                *ngIf="f('confirm_password')?.touched"
                                class="errDisp"
                            >
                                <div *ngIf="f('confirm_password')?.invalid">
                                    *This field is required!
                                </div>
                                <div
                                    *ngIf="
                                        f('confirm_password').valid &&
                                        f('password').value !=
                                            f('confirm_password')?.value
                                    "
                                >
                                    Password mismatched!
                                </div>
                            </div>
                        </div>
                        <div class="btnCont mobile">
                            <button
                                *ngIf="!submitting"
                                [disabled]="!validForm"
                                class="primBtn"
                            >
                                SAVE CHANGES
                            </button>
                            <app-loading-btn
                                *ngIf="submitting"
                                clss="primBtn"
                            ></app-loading-btn>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-user-layout>
