<app-page-loader *ngIf="pageLoader"></app-page-loader>

<app-user-header></app-user-header>


<div class="theSideMenu" id="theSideMenu">
    <app-user-sidemenu [mainpage]="'address'" [page]="'address'"></app-user-sidemenu>
</div>


<div *ngIf="!pageLoader" id="theMainPage" class="theMainPage">
    <div class="container">
        <div class="breadcrum mt-2">
            <h4>Address</h4>
        </div>

        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 mt-5 mb-5">
                <div class="card cardShadow">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Shipping Address</p>
                            <div class="mobileAdd" *ngIf="addresses?.length > 0">
                                <button [openModal]="addModal" class="btn btn-primary btn-sm">Add More</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body addbody">

                        <div *ngIf="addresses?.length > 0" class="row">
                            <div *ngFor="let add of addresses" class="col-md-12">
                                <div class="main-timeline">
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <div class="timeline-icon"><i class="fa fa-map-marker"></i></div>
                                            <h3 class="title">{{ add?.phone }}</h3>
                                            <p class="description">
                                                {{ add?.address }}, {{ add?.city }}, {{ add?.state }}, {{ add?.country }}
                                            </p>
                                            <div class="mt-3">
                                                <button [openModal]="openEditModal" (click)="getEachAddress(add?.id)" class="btn btn-success btn-sm mr-3"><i class="fa fa-pencil"></i></button>
                                                <button (click)="delShipAddress('warning', add?.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="addresses?.length < 1">
                            <p class="text-center">No Shipping Address</p>
                            <div class="mt-4 text-center">
                                <button [openModal]="addModal" class="btn btn-primary">Add Address</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 mt-5 addDesktop">
                <div class="card cardShadow">
                    <div class="card-header">
                        <p class="mb-0">Add Address</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="submit()">

                            <div class="form-group mb-3">
                              <label>Phone <span class="text-danger">*</span></label>
                              <input type="text" formControlName="phone" id="phone" class="form-control mb-0">
                              <div *ngIf="f('phone')?.touched && f('phone')?.invalid" class="alertErr">*This field is required!
                              </div>
                            </div>

                            <div class="form-group mb-3">
                              <label>Address <span class="text-danger">*</span></label>
                              <input type="text" formControlName="address" id="address" class="form-control mb-0">
                              <div *ngIf="f('address')?.touched && f('address')?.invalid" class="alertErr">*This field is required!
                              </div>
                            </div>

                            <div class="form-group mb-3">
                              <label for="city">City <span class="text-danger">*</span></label>
                              <input type="text" formControlName="city" id="city" class="form-control mb-0">
                              <div *ngIf="f('city')?.touched && f('city')?.invalid" class="alertErr">*This field is required!</div>
                            </div>

                            <div class="form-group mb-3">
                              <label for="state">State <small class="text-danger">*</small></label>
                              <input type="text" formControlName="state" id="state" class="form-control mb-0">
                              <div *ngIf="f('state')?.touched && f('state')?.invalid" class="alertErr">*This field is required!
                              </div>
                            </div>

                            <div class="form-group mb-3">
                              <label for="country">Country <small class="text-danger">*</small></label>
                              <input type="text" formControlName="country" id="country" class="form-control mb-0">
                              <div *ngIf="f('country')?.touched && f('country')?.invalid" class="alertErr">*This field is required!
                              </div>
                            </div>

                            <div class="mt-4 text-center">
                              <button *ngIf="!isSubmitting" class="btn btn-primary btn-sm" [disabled]="!form.valid">Add Address</button>
                              <button type="button" *ngIf="isSubmitting" disabled class="btn btn-primary btn-sm disabled"><i class="fa fa-spin fa-spinner"></i> Adding Address...</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<div id="modals">

    <!-- //Add Address -->
    <app-modal #addModal [closeModal]="closeModal">
        <div class="modalContent" style="background: #fff !important;">
            <div class="modalHead">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="text-dark">Add Address</h5>
                </div>
                <div>
                  <span class="closeBtn">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.026 0L7 5.026L1.974 0L0 1.974L5.026 7L0 12.026L1.974 14L7 8.974L12.026 14L14 12.026L8.974 7L14 1.974L12.026 0Z"
                            fill="#bbb" />
                    </svg>
                  </span>
                </div>
              </div>
            </div>

            <div class="modalBody" style="overflow-y: auto;">
              <div class="formBody">
                <form [formGroup]="form" (ngSubmit)="submit()">

                  <div class="form-group mb-3">
                    <label>Phone <span class="text-danger">*</span></label>
                    <input type="text" formControlName="phone" id="phone" class="form-control mb-0">
                    <div *ngIf="f('phone')?.touched && f('phone')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label>Address <span class="text-danger">*</span></label>
                    <input type="text" formControlName="address" id="address" class="form-control mb-0">
                    <div *ngIf="f('address')?.touched && f('address')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="city">City <span class="text-danger">*</span></label>
                    <input type="text" formControlName="city" id="city" class="form-control mb-0">
                    <div *ngIf="f('city')?.touched && f('city')?.invalid" class="alertErr">*This field is required!</div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="state">State <small class="text-danger">*</small></label>
                    <input type="text" formControlName="state" id="state" class="form-control mb-0">
                    <div *ngIf="f('state')?.touched && f('state')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="country">Country <small class="text-danger">*</small></label>
                    <input type="text" formControlName="country" id="country" class="form-control mb-0">
                    <div *ngIf="f('country')?.touched && f('country')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="mt-4 text-center">
                    <button *ngIf="!isSubmitting" class="btn btn-primary btn-sm" [disabled]="!form.valid">Add Address</button>
                    <button type="button" *ngIf="isSubmitting" disabled class="btn btn-primary btn-sm disabled"><i class="fa fa-spin fa-spinner"></i> Adding Address...</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </app-modal>

    <!-- //Edit Address -->
    <app-modal #openEditModal [closeModal]="closeModal">
        <div class="modalContent" style="background: #fff !important;">
            <div class="modalHead">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="text-dark">Edit Address</h5>
                </div>
                <div>
                  <span class="closeBtn">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.026 0L7 5.026L1.974 0L0 1.974L5.026 7L0 12.026L1.974 14L7 8.974L12.026 14L14 12.026L8.974 7L14 1.974L12.026 0Z"
                            fill="#bbb" />
                    </svg>
                  </span>
                </div>
              </div>
            </div>

            <div class="modalBody" style="overflow-y: auto;">
              <div class="formBody">
                <form [formGroup]="formEdit" (ngSubmit)="submitEdit()">

                  <div class="form-group mb-3">
                    <label>Phone <span class="text-danger">*</span></label>
                    <input type="text" formControlName="phone" id="phone" class="form-control mb-0">
                    <div *ngIf="e('phone')?.touched && e('phone')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label>Address <span class="text-danger">*</span></label>
                    <input type="text" formControlName="address" id="address" class="form-control mb-0">
                    <div *ngIf="e('address')?.touched && e('address')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="city">City <span class="text-danger">*</span></label>
                    <input type="text" formControlName="city" id="city" class="form-control mb-0">
                    <div *ngIf="e('city')?.touched && e('city')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="state">State <small class="text-danger">*</small></label>
                    <input type="text" formControlName="state" id="state" class="form-control mb-0">
                    <div *ngIf="e('state')?.touched && e('state')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label for="country">Country <small class="text-danger">*</small></label>
                    <input type="text" formControlName="country" id="country" class="form-control mb-0">
                    <div *ngIf="e('country')?.touched && e('country')?.invalid" class="alertErr">*This field is required!
                    </div>
                  </div>

                  <div class="mt-4 text-center">
                    <button *ngIf="!isUpdating" class="btn btn-primary" [disabled]="!formEdit.valid">Update Address</button>
                    <button *ngIf="isUpdating" class="btn btn-primary disabled"><i class="fa fa-spin fa-spinner"></i> Updating Address...</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </app-modal>

  </div>



<div *ngIf="showNotice">
    <div class="adminNoteWrap">
      <div *ngIf="justMssg">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>

        <p class="pt-3"> {{theMessage}} </p>
        <div class="d-flex justify-content-center"><button class="btn btn-sm btn-primary" (click)="closeMyNotice()">Close</button></div>
      </div>

      <div *ngIf="deleteModal">
        <div class="d-flex justify-content-center"><i class="fa fa-times delIcon"></i></div>
        <p class="text-center">{{theMessage}}</p>
        <div class="text-center mt-4 mb-2">
            <button class="btn btn-success btn-sm mr-5" (click)="delShipAddress('', returnID)">YES</button>
            <button class="btn btn-primary btn-sm" (click)="closeMyNotice()">NO</button>
        </div>
      </div>
    </div>
  </div>
