<footer class="main-footer">
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="footer-column col-lg-4 col-md-5 col-sm-12">
                    <div class="footer-widget info-widget">
                        <div class="widget-title">
                            <div id="hs_cos_wrapper_footer_widget_title" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                <span id="hs_cos_wrapper_footer_widget_title_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" data-hs-cos-general-type="widget" data-hs-cos-type="header">
                                    <h3>Contact Us</h3>
                                </span>
                            </div>
                        </div>
                        <div class="info">
                            <div class="info-block">
                                <div id="hs_cos_wrapper_contact_info" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_contact_info_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                                        <div class="icon-box">
                                            <div id="hs_cos_wrapper_home-icon" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span class="icon">
                                                <img src="/assets/images/icon-message-1.png" alt="icon-call-1-Jun-26-2021-03-28-18-38-PM" loading="lazy" style="max-width: 100%; height: auto;">
                                                </span></div>
                                        </div>
                                        <strong>Visit The Office</strong>
                                        <div class="info-text">{{ webset?.biz_addr }} {{ webset?.biz_city }} {{ webset?.biz_state }}, {{ webset?.biz_country }}</div>
                                    </span></div>
                            </div>
                            <div class="info-block">
                                <div id="hs_cos_wrapper_contact_info" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_contact_info_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                                        <div class="icon-box">
                                            <div id="hs_cos_wrapper_phone-icon" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span class="icon">
                                                    <img src="/assets/images/icon-call-1-4.png" alt="icon-message-1-2" loading="lazy" style="max-width: 100%; height: auto;">
                                                </span></div>
                                        </div>
                                        <strong>Phone Inquiry</strong>
                                        <div class="info-text">
                                            <a href="tel:{{ webset?.biz_phone }}">{{ webset?.biz_phone }}</a>
                                        </div>
                                    </span></div>
                            </div>
                            <div class="info-block">
                                <div id="hs_cos_wrapper_contact_info" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_contact_info_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                                        <div class="icon-box">
                                            <div id="hs_cos_wrapper_email-icon" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span class="icon">
                                                    <img src="/assets/images/icon-mail-1-4.webp" alt="icon-mail" loading="lazy" style="max-width: 100%; height: auto;">
                                                </span></div>
                                        </div>
                                        <strong>Send Email</strong>
                                        <div class="info-text">
                                            <a href="mailto:{{ webset?.site_email }}">{{ webset?.site_email }}</a>
                                        </div>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="big-column col-lg-6 col-md-7 col-sm-12">
                    <div class="row clearfix">
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <div id="hs_cos_wrapper_footer_widget_title" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header" data-hs-cos-general-type="widget" data-hs-cos-type="module">



                                        <span id="hs_cos_wrapper_footer_widget_title_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" data-hs-cos-general-type="widget" data-hs-cos-type="header">
                                            <h3>Quick Links</h3>
                                        </span>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div id="hs_cos_wrapper_quick_links" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_quick_links_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                            <div id="hs_menu_wrapper_quick_links_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-vertical" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                <ul role="menu">
                                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/about" role="menuitem" target="_self">About Mandatech</a></li>
                                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/services" role="menuitem" target="_self">Services</a></li>
                                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/products" role="menuitem" target="_self">Products</a></li>
                                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/projects" role="menuitem" target="_self">Projects</a></li>
                                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/contact-us" role="menuitem" target="_self">Contact Us</a></li>
                                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="/get-quote" role="menuitem" target="_self">Get Quotes</a></li>
                                                </ul>
                                            </div>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <div id="hs_cos_wrapper_footer_widget_title" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header" data-hs-cos-general-type="widget" data-hs-cos-type="module">



                                        <span id="hs_cos_wrapper_footer_widget_title_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" data-hs-cos-general-type="widget" data-hs-cos-type="header">
                                            <h3>Our Services</h3>
                                        </span>
                                    </div>
                                </div>
                                <div class="widget-content">
                                    <div id="hs_cos_wrapper_services_menu" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_services_menu_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                                            <div id="hs_menu_wrapper_services_menu_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-vertical" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                                <ul role="menu">
                                                    <li *ngFor="let service of services" class="hs-menu-item hs-menu-depth-1" role="none"><a routerLink="/services/{{ service?.id }}/{{ service?.title | urlToString }}" role="menuitem" target="_self">{{ service?.title }}</a></li>
                                                </ul>
                                            </div>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-column col-lg-2 col-md-4 col-sm-6 col-7">
                    <div class="footer-widget gallery-widget">
                        <div class="widget-title">
                            <div id="hs_cos_wrapper_footer_widget_title" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-header" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                <span id="hs_cos_wrapper_footer_widget_title_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" data-hs-cos-general-type="widget" data-hs-cos-type="header">
                                    <h3>Project Gallery</h3>
                                </span>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div id="hs_cos_wrapper_footer_image_gallery" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                <div class="images">

                                    <figure class="image">





                                        <a href="?hsLang=en" class="lightbox-image" data-fancybox="gallery">






                                            <img src="https://f.hubspotusercontent20.net/hubfs/20168525/gallery-thumb-1.jpg" alt="gallery-thumb-1" loading="lazy" style="max-width: 100%; height: auto;">

                                        </a>
                                    </figure>

                                    <figure class="image">





                                        <a href="?hsLang=en" class="lightbox-image" data-fancybox="gallery">




                                            <img src="https://f.hubspotusercontent20.net/hub/20168525/hubfs/gallery-thumb-2-1.jpg?width=300&amp;height=300&amp;name=gallery-thumb-2-1.jpg" alt="gallery-thumb-2-1" loading="" width="300" height="300">

                                        </a>
                                    </figure>

                                    <figure class="image">





                                        <a href="?hsLang=en" class="lightbox-image" data-fancybox="gallery">




                                            <img src="https://f.hubspotusercontent20.net/hub/20168525/hubfs/gallery-thumb-3-1.jpg?width=300&amp;height=300&amp;name=gallery-thumb-3-1.jpg" alt="gallery-thumb-3-1" loading="" width="300" height="300">

                                        </a>
                                    </figure>

                                    <figure class="image">





                                        <a href="?hsLang=en" class="lightbox-image" data-fancybox="gallery">




                                            <img src="https://f.hubspotusercontent20.net/hub/20168525/hubfs/gallery-thumb-4-1.jpg?width=300&amp;height=300&amp;name=gallery-thumb-4-1.jpg" alt="gallery-thumb-4-1" loading="" width="300" height="300">

                                        </a>
                                    </figure>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner clearfix">
                <div class="scroll-top-footer scroll-to-target" data-target="html"><span class="flaticon-arrows"></span></div>
                <div id="hs_cos_wrapper_footer_copyright" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_footer_copyright_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">Copyright Mandatech © {{ currYear }} All Rights Reserved</span></div>
            </div>
            <div class="footer-nav">
                <div class="clearfix">
                    <!-- <div id="hs_cos_wrapper_footer_nav" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                        <span id="hs_cos_wrapper_footer_nav_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_simple_menu" data-hs-cos-general-type="widget" data-hs-cos-type="simple_menu">
                            <div id="hs_menu_wrapper_footer_nav_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="" data-menu-id="" aria-label="Navigation Menu">
                                <ul role="menu">
                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="#" role="menuitem" target="_self">Privacy Policy</a></li>
                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="#" role="menuitem" target="_self">Sitemap</a></li>
                                    <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="#" role="menuitem" target="_self">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>
